<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <packageSources>
        <clear/>
        <add key="SKB.NuGet" value="https://nuget.pkg.github.com/saapo-ka-baadshah/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
	<packageSourceCredentials>
		<SKB.NuGet>
			<add key="Username" value="%GITHUB_USERNAME%"/>
			<add key="ClearTextPassword" value="%GITHUB_PACKAGES_FEED_PAT%"/>
		</SKB.NuGet>
	</packageSourceCredentials>
</configuration>
