<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="SKB.NuGet" value="https://nuget.pkg.github.com/saapo-ka-baadshah/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>

	<packageSourceMapping>
		<packageSource key="SKB.NuGet">
			<package pattern="SKB.*"/>
		</packageSource>
		<packageSource key="nuget.org">
			<package pattern="*"/>
		</packageSource>
	</packageSourceMapping>
</configuration>
